.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-btn {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
  font-family: 'Source Code Pro';
}

.custom-btn:hover {
  background-color: black;
  color: white;
  font-family: 'Source Code Pro';
}

.custom-btn:active {
  background-color: #575757;  /* Lighter shade of black when clicked */
  color: white;
  font-family: 'Source Code Pro';
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), 
       url('./assets/fonts/SourceCodePro-Regular.ttf') format('woff2'), 
       url('./assets/fonts/SourceCodePro-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro Bold'), 
       url('./assets/fonts/SourceCodePro-Bold.ttf') format('woff2'), 
       url('./assets/fonts/SourceCodePro-Bold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}




.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  font-family: 'Source Code Pro', sans-serif;
}

.App-link {
  color: #61dafb;
}


