.App {
  text-align: center;
}

.App-logo {
  margin-bottom: 20px; /* Adjust based on your preference */
  height: 40vmin;
  pointer-events: none;
  transform: scale(0.8);  
}

input[type="text"] {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: box-shadow 0.3s, border-color 0.3s;
  margin-left: 15px;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(130, 130, 130, 0.2);
  border-color: #000000;
}

input.subject-input {
  width: 500px;
  border-radius: 25px;
}

.prompt-output {
  margin: 20px auto;
  width: 70%;
  height: 75px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f4f4f4;
  white-space: pre-line;
  overflow-y: auto;
  background-color: rgba(244, 244, 244, 0.9); /* A light grey background with 90% opacity */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* horizontal offset, vertical offset, blur radius, shadow color */
  
}


.custom-btn {
  margin: 10px auto;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
  font-family: 'Source Code Pro';
}

.custom-btn:hover {
  background-color: black;
  color: white;
}

.custom-btn:active {
  background-color: #575757;
  color: white;
}

.generate-btn {
  /* specific styles for generate button */
  padding: 0.5rem 1rem; /* Adjust as needed */
  margin-left: 15px;
}

.copy-btn {
  /* specific styles for copy button */
  padding: 0.375rem 0.75rem; /* Adjust as needed */
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), 
       url('./assets/fonts/SourceCodePro-Regular.ttf') format('woff2'), 
       url('./assets/fonts/SourceCodePro-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro Bold'), 
       url('./assets/fonts/SourceCodePro-Bold.ttf') format('woff2'), 
       url('./assets/fonts/SourceCodePro-Bold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}

.App-header {
  background-image: url('./assets/images/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  font-family: 'Source Code Pro', sans-serif;
}

.App-link {
  color: #61dafb;
}



